*{
    font-family: "Comic Sans MS", Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: bisque;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #9B4222;
    font-size: 18px;
    text-align: center;
    padding: 12px 20px;
}

.Menu{
    display: flex;
    justify-content: center;
    background-color: #FFD7A7;
    margin: 15px;
    position: center;
    align-items: center;
    border-radius: 6px;
}

.nav-item{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 12px 20px;
}

.nav-item:hover{
    background-color: #FFD7A7;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.TopMenu > li{
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.fa{
    color: darkseagreen;
    padding-left: 10px;
}

.submenu{
    background-color: #FFD7A7;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.Menu{
    display: flex;
    justify-content: center;
}

.Menu ul {
    background: #FFD7A7;
}

.Menu .submenu {
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: 0 0;
    background: #FFD7A7;
}

.Menu ul li:hover .submenu {
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.body{
    margin: 30px auto;
    background-color: lightsalmon;
    position: center;
    border-radius: 4px;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 440px
}

.line{
    background-color: lightsalmon;
    position: center;
    width: 320px;
    height: 80px;
    display: flex;
}

.cell{
    background-color: aliceblue;
    width: 70px;
    height: 70px;
    margin: 5px;
    border-radius: 6px;
}

.buttonPlay{
    padding: 20px 32px;
    color: #9B4222;
    background-color: blanchedalmond;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    font-size: 20px;
}

.points{
    margin-top: 20px;
    color: #9B4222;
    font-size: 20px;
    text-align: center;
}

#start:hover {
    background-color: darkkhaki;
}

#chit {
    background-color: darkkhaki;
    margin-top: 20px;
}